<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Create manager page</title>
</head>

<body>
<h1 th:inline="text">Manage page - create manager</h1>
<p>--------------------------------------------------------</p>
<p th:text="(${result} == null) ? ' Введите данные нового клиента' : ''" />
<p th:text="(${result} == 0) ? ' Заполнены не все поля' : ''" />
<p th:text="(${result} == 1) ? ' Пользователь создан '+ ${resultUser} : ''" />
<p th:text="(${result} == 2) ? ' Неуникальное имя пользователя ' : ''" />
<!--<p th:text="(${result} == 3) ? ' Неверно указана роль ' : ''" />-->
<p th:text="(${result} == 4) ? ' Ошибка БД ' : ''" />
<p>--------------------------------------------------------</p>


<p>

<form th:action="@{/createManagerRequest}">
    <input type="text" name="name"/>
    <input type="password" name="password"/>
    <!--<input type="text" name="role" list="roleList"/>
    <datalist id="roleList">
        <option>ROLE_CLIENT</option>
        <option>ROLE_MANAGER</option>
        <option>ROLE_ROOT</option>
    </datalist> -->
    <button> CREATE NEW CLIENT </button>
</form>

</p>



<p> Вернуться к "register manager" <a th:href="@{/registerManager}">тык</a>.</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>

</body>
</html>