<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Start page for authenticated users</title>
</head>

<body>
<h1>Welcome!</h1>

<h1 th:inline="text">Вы авторизованы - [[${#httpServletRequest.remoteUser}]]!</h1>

<p>Страница "routes" <a th:href="@{/routes}">здесь</a>.</p>
<p>Страница "payments" <a th:href="@{/payments}">здесь</a>.</p>
<p>Страница "register client" <a th:href="@{/registerClient}">здесь</a>.</p>
<p>Страница "register manager" <a th:href="@{/registerManager}">здесь</a>.</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>

</body>
</html>


